# requirements.txt
pandas==2.3.3
pyarrow==22.0.0
requests==2.32.5
numpy==2.3.5
seaborn==0.13.2
matplotlib==3.10.7
jupyterlab==4.5.0
statsmodels==0.14.5
prophet==1.2.1
pydantic==2.12.4
python-dotenv==1.2.1
black==25.11.0
flake8==7.3.0
isort==7.0.0
pre-commit==4.4.0
scipy==1.16.3
scikit-learn==1.7.2